</div>
<div class="text-center" style="border-top: 1px solid #e7e7e7; padding-top:5px; color: #337ab7">
		<p>Kabati By Kazimoto &copy; 2017</p>
	</div>
    
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/sb-admin-2.min.js"></script>

</body>

</html>
